.navber {
    display: flex;
}

h5 {
    color: rgba(0, 103, 71, 1);
    padding: 27px 120px 27px 0;
}

.navber img {
    padding: 25px 60px 25px 2px;
}

.banner{
    background-color:rgba(1.25, 49.64, 34.61, 1),rgba(0, 103, 71, 1) 49.99%,rgba(1, 50, 35, 1);
}

.emergency,
h2 {
    font-size: 24px;
    font-weight: 700;
    color: rgba(17, 17, 17, 1);
}

.emergency,
h6 {
    font-size: 18px;
    font-weight: 400;
    color: rgba(17, 17, 17, 1);
}

.emergency{
    display: flex;
    text-align: center;
}